<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NSEP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>com.tcs.ilp.h57.gE.handlers.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDetailsHandler</display-name>
    <servlet-name>AddDetailsHandler</servlet-name>
    <servlet-class>com.tcs.ilp.h57.gE.handlers.AddDetailsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDetailsHandler</servlet-name>
    <url-pattern>/AddDetailsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailsHandler</display-name>
    <servlet-name>ViewDetailsHandler</servlet-name>
    <servlet-class>com.tcs.ilp.h57.gE.handlers.ViewDetailsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailsHandler</servlet-name>
    <url-pattern>/ViewDetailsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDetailsHandler</display-name>
    <servlet-name>UpdateDetailsHandler</servlet-name>
    <servlet-class>com.tcs.ilp.h57.gE.handlers.UpdateDetailsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetailsHandler</servlet-name>
    <url-pattern>/UpdateDetailsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDetailsHandler</display-name>
    <servlet-name>DeleteDetailsHandler</servlet-name>
    <servlet-class>com.tcs.ilp.h57.gE.handlers.DeleteDetailsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDetailsHandler</servlet-name>
    <url-pattern>/DeleteDetailsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetreiveImage</display-name>
    <servlet-name>RetreiveImage</servlet-name>
    <servlet-class>com.tcs.ilp.h57.gE.handlers.RetreiveImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetreiveImage</servlet-name>
    <url-pattern>/RetreiveImage</url-pattern>
  </servlet-mapping>
</web-app>